@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


   .container{
    
          background-color: rgb(229, 255, 0);
          display: grid;  
          grid-template-columns: 14rem 3fr;
          grid-template-rows: 8rem 3rem 5fr 4rem;
          grid-template-areas: 
          'sidebar header'
          'sidebar nav'
          'sidebar main'
          'footer footer';
      }
      *{
          margin: 0;
          padding: 0;
      }
      a{
         text-decoration: none;
      }
      a:active{
          color: rgb(128, 124, 0);
      }
      a:hover{
          color: rgb(182, 84, 5);
      }
     img{
          height: 40px;
          width: 40px;
          border-radius: 50%;
      }
  /* header*/
  .header{
        grid-area: header;
        font-family: 'Roboto mono';
        background-color: #290902;
        color: aliceblue;
        display: grid;
        grid-template-rows: 4rem 1fr;
   }
.top-header{
  display: grid;
  grid-template-columns: 2fr 1fr ;
  align-content: center;
}
.right-header{
  padding: 1rem;
  display: grid;
  grid-template-columns: 4rem  3rem 3rem;
}
.bar{
  justify-self: center;
  margin-top: 1rem;
}
input{
   width:20rem;
   height: 1rem;
  border-radius: 0.5rem;
  border: 5px rgb(147, 130, 5) solid;
}
input:focus{
    border-color: green;
}
button{
  background-color: rgb(131, 172, 21);
  
}
.bell{
    margin-top: 0.4rem;
    margin-left: 0.5rem;
   
    font-size:1rem;
}
.name{
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
}
/* bottom header */
.bottom-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem;
}
.profile{
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: 0.5rem;
}
.profile-big{
    margin-left: 4rem;
    margin-bottom: 0.5rem;
}
.greeting{
    font-size: 0.6rem;
    font-weight: 700;
}
.my-name > a{
    color: rgb(58, 255, 84);
    font-size: 1rem;
}
.my-name > a:hover{
    color: yellow;
}


.profile-big > img{
  width:70px;
  height:70px;
  border-radius: 50%;
}
.user-profile{
margin-bottom: 2rem;
}
.service >button{
   color: white;
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(217, 94, 94);
  margin: 1rem;
  border-radius: 1rem;
  width:4rem;
  padding: 0.5rem;
}
button:hover{
    background-color: aliceblue;
    color: #021829;
}

/* nav bar */
.nav-bar{
    font-family: 'Roboto mono';
    font-weight: 700;
    grid-area: nav; 
    color: #7c3ef0;
    background-color: #b4c5ef;
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    align-content: center;
}
.news{
  justify-self: end;
  margin-right: 3rem;
}
/* side bar */
.side-bar{
    grid-area: sidebar;
    background-color:#021829;
    color: rgb(246, 222, 206);
    display: grid;
    grid-template-rows: 5rem 10rem;
    gap: 3rem;
    font-family: 'Roboto Mono', monospace;
}
.nav-dashboard{
  display: grid;
  gap: 3rem;
} 
.dashboard-logo{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 3rem 3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.5rem;
}
.dashboard-logo:hover{
    color: aqua;
}

.dashboard-logo > span > a {
    
    font-size: 2rem ;
    color: rgb(145, 1, 148);
}

.nav-item{
  font-size: 1.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.nav-item:hover{
  color: aqua;
} 
.nav-item > a{
    color: rgb(197, 8, 71);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.nav-item > a :hover{
    color: #dacef0;
}

/* main */
.main-content{
    grid-area: main;
    background-color: #749CF7;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 2fr 13rem;
    padding: 0.5rem;
}
.projects{
    padding: 1rem;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.projects:hover{
    background-color: rgb(42, 211, 211);
}
article{
  font-size: 1rem;
  text-align: start;
}
.share-icons{
    
    justify-self: end;
    font-size: 2rem;
}

h4{
  padding-bottom: 0.5rem;
}
.card{
    display: grid;
    grid-template-rows:1fr 3rem;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1rem;
    box-shadow: 5px 5px 5px 3px rgb(68, 17, 135);
    height: 210px;
    text-align: start;
    line-height: clamp(1rem,4vw,1.5rem);
}

/* rightside main */
.new-thing{
    background-color: #EFBFF7;
    display: grid;
    padding: 0.5rem;
    grid-template-rows: 15rem 10rem;
 }
.updates,.peoples{
    margin-top: 2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
 
} 



.follow{
  display: grid;
  grid-template-columns: 3rem 1fr;
  margin-bottom: 0.3rem;
  justify-items: center;
 }
 .follow > span >a:hover{
     color: green;
 }
 footer{
   padding: 0.5rem;
    grid-area: footer;
    color: #EFBFF7;
    text-align: center;
    background-color: #290902;
 }